.footer {
  background-color: #25272a;
  color: #f0f0f0;
  padding: 50px 20px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-content-left,
.footer-content-right {
  flex: 1;
  min-width: 300px;
}

.Footerlogo {
  width: 140px;
  margin-bottom: 10px;
}

.navbar-p {
  font-size: 14px;
  color: #249b03;
  font-weight: 500;
}

.footer-description {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #cdd0d4;
}

.footer-content-right h2 {
  color: #249b03;
  margin-bottom: 15px;
}

.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-contact li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 15px;
  color: #cdd0d4;
}

.footer-icon {
  margin-right: 10px;
  color: #249b03;
  flex-shrink: 0;
  margin-top: 3px;
}

.footer-divider {
  margin: 30px 0;
  border: 0.5px solid #334155;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.social-icon {
  color: #249b03;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
}

.CopyRightKharaAgroTech {
  color: #249b03;
  text-decoration: none;
  margin-left: 5px;
}

.CopyRightKharaAgroTech:hover {
  text-decoration: underline;
}
